body {
    background-color: cadetblue;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: darkorchid;
    border: 5px dotted black;
}
.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display:inline;
    margin-right: 20px;
}

.div-test {
    background-color: deeppink;
    text-align: center;
    color: white;
}

.span1 {
    font-size: 50px;
}

.span2 {
    font-size: 10px;
}